{% extends 'base.html.twig' %}

{% block title %}Liste des scopes{% endblock %}

{% block body %}
    <h1>Liste des scopes de l'Oise</h1>
    {% block flashMessages %}{{ parent() }}{% endblock %}
    <div class="button-create">
        <a class="btn btn-primary" href="{{ path('app_scope_new') }}">Ajouter un scope</a>
    </div>
    {{ knp_pagination_render(scopes) }}
    <table class="table">
        <thead>
            <tr>
                <th>Utilisateur</th>
                <th>Structure</th>
                <th>Rôle</th>
                <th>Active</th>
                <th>Aperçu</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
        {% for scope in scopes %}
            <tr>
                <th>{{ scope.user.firstName}} {{ scope.user.lastName}} </th>
                <td>{{ scope.structure.name}}</td>
                <td>{{ scope.role.name}}</td>
                <td>{{ scope.active ? 'OUI' : 'NON' }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_scope_show', {'id': scope.id}) }}"><i class="fa fa-file"></i></a>
                </td>
                <td>
                    <a class="btn btn-info" href="{{ path('app_scope_edit', {'id': scope.id}) }}"><i class="fa fa-pen"></i></a>
                </td>
                <td>
                    {{ include('scope/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    {{ knp_pagination_render(scopes) }}




{% endblock %}
