{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Uuid</th>
                <td>{{ user.uuid }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{% for roles in user.roles %}
                        {% if roles == 'ROLE_ADMIN' %}
                            Administrateur
                        {% else %}
                            Utilisateur
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ user.firstName }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.lastName }}</td>
            </tr>
            <tr>
                <th>Genre</th>
                <td>{{ user.genre }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_index') }}">Retour à la liste</a>

    <a href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>

{% endblock %}
